<form class="text-center border border-light p-5" action="/auth/login" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" value="">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" value="">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
</main>

<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2020
        <a href="https://softuni.bg/trainings/3048/js-back-end-september-2020">JS Back-End</a>
    </div>
</footer>

</div>