<div class="row d-flex justify-content-center">
    <div class="card-deck">
        <div class="card mb-4">
            <img class="card-img-top"
                src="https://2.bp.blogspot.com/-WYGYXD090xg/WN1FIEgHoQI/AAAAAAAAYYo/ASGxg2rjsUwkUcOza-vS2kVZ_ijmKpU3ACLcB/s1600/13876568_10153773096801966_3618414298813804728_n.jpg"
                alt="Card image cap" width="60%">

        </div>
    </div>
</div>